/* debug */
.nav {
    height: 100px;
    background-color: #E579E6;
}
.hero {
    height: 500px;
    background-color: #E1D67A;
}
main {
    height: 670px;
    background-color: #0087FF;
}
aside,
.center,
.bar {
    height: 540px;
    background-color: #ABCFE7;
}
footer {
    height: 60px;
    background-color: #8801FE;
}
/* common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*start*/
.container {
    width: 70%;
    margin: auto;
}
.nav {
    margin: 30px 0;
}
.hero {
    margin-bottom: 30px;
}
.bar {
    height: 85px; /*debug*/
    margin-bottom: 25px ;
}
.float-l {
    float: left;
}
.lft {
    width: 24%;
}   
.center {
    width: 50%;
    margin: 0 1%;
}
.rgt{
    width: 24%;
}
footer {
    margin-top: 10px;
}
